.enter-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.enter-number-container .choose-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.enter-number-container .choose-number img {
  width: 100%;
  height: auto;
  max-height: 40vh;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.choose-number .enter-number-text {
  margin-bottom: 1rem;
  min-width: 60%;
  max-width: 30vw;
}

.choose-number form { 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.choose-number form input {
  margin-bottom: 1rem;
  width: 60%;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 1rem;
}

.choose-number form button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 60%;
}